/*Styling Goes Below*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: url(bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	clip-path: circle(0px at center);
}

.container {
	position: relative;
	margin-top: 200vh;
	background: #fff;
	padding: 100px;
}

.container p {
	hyphens: auto;
}

.container h2 {
	font-size: 2.5em;
	margin-bottom: 20px;
	color: #fff;
}

.title {
	position: relative;
	top: 250px;
	z-index: 1;
	font-size: 3em;
	transition: .2s;
	animation-name: bounce;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-direction: forwards;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title i {
	height: 75px;
	width: 75px;
	background: #000;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}


@keyframes bounce {
	from {
		transform: translateY(-10px);
	}

	to {
		transform: translateY(10px);
	}
}